.background{
    background-image: url('/images/background-call-to-action.jpg');
    background-position: center;
    background-size: 150%;
    height: 70vh;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.mainContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    max-width: 38%;
}
.mainContent h1, .mainContent h3{
    color: var(--primary-text-color-white);
}
.mainContent h1{
    font-size: 2.5rem;
    font-weight: 500;
}
.mainContent h3{
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
}
.mainContent a{
    color: var(--primary-text-color-black);
    background-color: var(--primary-text-color-white);
    font-size: 0.9rem;
    margin-top: 1.5em;
}
.mainContent a:hover{
    background-color: #eff6fd;
}